<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
 </head>
 <body>
 	
 	  <div class="row">
		<div class="col-md-2 col-md-offset-10" class="active">
			<nav class="navbar navbar-default navbar-right">
			  <div class="container">
			    	<a href='/dashboard'>Home</a>
			    	<a href='/logout'>Logout</a>
			  </div>
			</nav>
		</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-2" class="active">
				<h4>{{Item_name}}</h4>
				<p>Users who added this product/item under their wish list:</p>
				<ul>
					<li>users name</li>
				</ul>
			</div>
		</div>
</body>
</html>